body
{
	text-align: center;
}
h1
{
	font-size: 100px;
	color: white;
}
img
{
	text-align: center;
}
h3
{
	color: white;
	font-size: 50px
}
p
{
	font-size: 20px;
	color: white;
	text-align: center;
}
a
{
	color: White;
	font-size: 50px;
}
a:hover
{
	color: black;
	background-color: white;
}