body
{
	background-color: black;
	text-align: left;
}
h1
{
	font-size: 100px;
	color: white;
}
h3
{
	color: white;
	font-size: 50px
}
p
{
	font-size: 20px;
	color: white;
	float: left
}
a
{
	color: white;
	font-size: 50px;
}
a:hover
{
	color: black;
	background-color: white;
}
table
{
	color: white;
	text-align: center;
}
img
{
	text-align: center;
}
h6
{
	color: white;
	font-size: 30px;
}